html {
  scrollbar-gutter: stable;
}

:root {
  --accent-aa: 0, 136, 255;
  --accent-aaa: 0, 150, 255;
  --slate-a11y: #667085;
}

:is(.dark) {
  --accent-aa: 134, 205, 255;
  --accent-aaa: 53, 165, 255;
}

.prose {
  --tw-prose-code: #c93822;
  --tw-prose-invert-code: #32d583;
}

#fern-header .fern-background {
  background: #f7f8f8;
}
.dark #fern-header .fern-background {
  background: rgba(255, 255, 255, 0.05);
}

.fern-background::after {
  content: "";
  background: url("https://octo.ai/assets/images/noise.png");
  background-size: 143px 50px;
  opacity: 0.2;
  pointer-events: none;
  mix-blend-mode: overlay;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.dark .fern-background::after {
  display: none;
}

.fern-sidebar-link-container[data-state="active"] .fern-sidebar-link {
  background-color: #e8f5ff;
  color: #0c5dbb;
}

.dark .fern-sidebar-link-container[data-state="active"] .fern-sidebar-link {
  background-color: rgba(255, 255, 255, 0.05);
  color: #b2deff;
}

.fern-sidebar-container
  > nav
  > .fern-scroll-area
  > .fern-scroll-area-viewport
  > div
  > ul.fern-sidebar-group
  > .fern-sidebar-item
  > .fern-sidebar-link-container
  > button.fern-sidebar-link
  > .fern-sidebar-link-content
  > .fern-sidebar-link-text {
  font-weight: 600;
  color: #000000;
}

.dark
  .fern-sidebar-container
  > nav
  > .fern-scroll-area
  > .fern-scroll-area-viewport
  > div
  > ul.fern-sidebar-group
  > .fern-sidebar-item
  > .fern-sidebar-link-container
  > button.fern-sidebar-link
  > .fern-sidebar-link-content
  > .fern-sidebar-link-text {
  color: #ffffff;
}

table {
  table-layout: fixed;
}

table td.p-3 {
  padding: 0.75rem 1rem;
  white-space: normal;
}
table td + td {
  border-left: 1px solid var(--border);
}

.changelog {
  padding-bottom: 12px;
  position: relative;
}

.changelog::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  bottom: -10px;
  left: 0;
  border-bottom: 1px solid rgb(208, 208, 208);
  pointer-events: none;
}

.changelog:last-of-type::after {
  display: none;
}

.dark .changelog::after {
  border-bottom: 1px solid rgb(37, 41, 45);
}

.changelog-status {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  padding-top: 32px;
  margin-bottom: -65px;
  position: relative;
}

.changelog-status span {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: bold;
  color: #646464;
}

.dark .changelog-status span {
  color: #bbbbbb;
}
.data-\[state\=inactive\]\:t-muted[data-state="inactive"],
.t-muted {
  color: #667085;
}

.prose-p\:t-muted
  :is(:where(p):not(:where([class~="not-prose"], [class~="not-prose"] *))) {
  color: #475467;
}

.fern-card.interactive .space-y-1 > .t-default.text-base.font-semibold {
  display: none;
}

.fern-card.interactive .t-muted .title {
  display: block;
  margin: 12px 0;
  font-weight: 600;
  color: #000000;
}

.fern-card.interactive .t-muted img {
  height: 60px;
  width: auto;
  max-width: 72px;
}

#headlessui-portal-root > div > div {
  height: 65vh !important;
}
