/* CTA button */
/* #topbar-cta-button > a > span {
  border-radius: 4px;
} */

/* Dark mode styling */
/* .dark main > div > span.inset-0:first-of-type:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://mintlify.s3.us-west-1.amazonaws.com/octoai/assets/images/gradient-bg.svg");
  background-repeat: no-repeat;
  background-size: 100% 67%;
  background-position: top center;
  opacity: 0.5;
}
.dark main > div > span.inset-0:first-of-type:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://mintlify.s3.us-west-1.amazonaws.com/octoai/assets/images/noise.png");
  background-repeat: no-repeat;
  background-size: 100% 67%;
  background-position: top center;
  opacity: 0.4;
} */

/* .dark main > div > span.inset-0:last-of-type:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 67%;
  background: linear-gradient(0deg, #111213 0%, rgba(17, 18, 19, 0) 37.07%);
}

:is(.dark .dark\:text-gray-400) {
  color: #e0e0e0;
}

.dark #navbar {
  background-color: rgba(255, 255, 255, 0.051);
}

.dark .stable-scrollbar-gutter {
  background: linear-gradient(
    270deg,
    rgb(17 18 19 / 50%) 0%,
    rgba(17, 18, 19, 0) 100%
  );
}

.dark .stable-scrollbar-gutter .sticky {
  background: transparent;
}

.dark a {
  color: #d0d1d2;
} */

/* CTA button */
/* .dark #topbar-cta-button > a > span {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.5);
  border: unset;
}

.dark #topbar-cta-button > a > div > span,
.dark #topbar-cta-button > a > div > svg {
  color: #f7f7f7;
} */

/* Search */
/* Highlighted item */
/* .dark #headlessui-portal-root li[data-headlessui-state="active"] {
  background: #1f2123;
}

.dark #headlessui-portal-root li[data-headlessui-state="active"] p,
.dark #headlessui-portal-root li[data-headlessui-state="active"] span {
  color: white;
}

.dark .related > ul > li > a {
  color: #e0e0e0;
}

.dark .related > ul > li > a:hover {
  color: #e0e0e0;
} */

/* Light mode styling */
/* main > div > span.inset-0:first-of-type:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      180deg,
      #f7f8f8 0%,
      rgba(245, 245, 244, 0) 46.59%
    ),
    linear-gradient(
      0deg,
      rgba(246, 245, 244, 0.75) 0%,
      rgba(246, 245, 244, 0.75) 100%
    ),
    radial-gradient(
      85.22% 111.48% at 54.03% 97.36%,
      rgba(246, 245, 244, 0) 0%,
      #f6f5f4 86.92%
    ),
    radial-gradient(
      52.79% 78.26% at 38.74% 71.48%,
      #fe6756 0%,
      rgba(254, 103, 86, 0) 100%
    ),
    radial-gradient(
      88.13% 69.33% at 67.53% 67.77%,
      #fea756 0%,
      rgba(254, 167, 86, 0) 100%
    );
  background-repeat: no-repeat;
  background-size: 100% 67%;
  background-position: top center;
  opacity: 1;
} */

/* main > div > span.inset-0:last-of-type:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 67%;
  background: linear-gradient(0deg, #fafaf9 0%, rgba(250, 250, 249, 0) 37.07%);
} */

/* CTA button */
/* #topbar-cta-button > a > span {
  background: #1c1917;
  border: unset;
} */

/* Search */

/* Icon */
/* #headlessui-portal-root ul > li > .rounded-md,
#headlessui-portal-root
  div.flex.items-center.space-x-5.text-sm
  > div.rounded-md.ring-1.shadow-sm {
  background: #0096ff;
}

#headlessui-portal-root
  div.flex.items-center.space-x-5.text-sm
  > div.rounded-md.ring-1.shadow-sm
  svg {
  fill: white;
} */

/* Highlighted item */
/* #headlessui-portal-root li[data-headlessui-state="active"] {
  background: #e6e5e5;
}

#headlessui-portal-root li[data-headlessui-state="active"] p,
#headlessui-portal-root li[data-headlessui-state="active"] span {
  color: black;
} */

/* AI sources */
/* #headlessui-portal-root
  .mt-5.px-7.text-sm.text-gray-400
  > .mt-2.flex.items-center.text-xs
  > a
  > div {
  background: #0096ff;
  color: white;
}

#headlessui-portal-root
  .border-0.bg-transparent.pr-6.text-sm.text-transparent.bg-clip-text.bg-gradient-to-r.from-primary.to-primary-dark {
  color: #0096ff;
} */

/* .img-two-col > p {
  @media (min-width: 600px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
} */

/* Related list */

/* .related > ul > li::before {
  background-color: #7b818a;
  width: 6px;
  height: 6px;
  top: 10px;
}

.related > ul > li > a {
  border-bottom: unset;
}

.related > ul > li > a:hover {
  text-decoration: underline;
}

.related > ul > li {
  padding-left: 20px !important;
}

.related > ul {
  padding-left: 8px;
}

.related > ul > li > a {
  color: #3e4346;
} */

.fern-background {
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    radial-gradient(
      82.97% 110.59% at 54.03% 97.36%,
      rgba(255, 255, 255, 0) 0%,
      #fff 100%
    ),
    radial-gradient(
      52.79% 78.26% at 38.74% 71.48%,
      rgba(53, 165, 255, 0.3) 0%,
      rgba(53, 165, 255, 0) 86.92%
    ),
    radial-gradient(
      88.13% 69.33% at 67.53% 67.77%,
      rgba(140, 86, 254, 0.3) 0%,
      rgba(140, 86, 254, 0.1665) 100%,
      rgba(140, 86, 254, 0) 100%
    ),
    #f7fcff;
}

.fern-background::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    #f7f8f8 0%,
    rgba(244, 245, 245, 0) 46.59%
  );
  opacity: 1;
  pointer-events: none;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.fern-background::after {
  content: "";
  background: url("https://octo.ai/assets/images/noise.png");
  background-size: 143px 50px;
  opacity: 0.2;
  pointer-events: none;
  mix-blend-mode: overlay;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#docs-content::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #ffffff 0%, rgba(250, 250, 249, 0) 37.07%);
}

.changelog {
  padding-bottom: 12px;
  position: relative;
}

.changelog::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  bottom: -10px;
  left: 0;
  border-bottom: 1px solid rgb(208, 208, 208);
  pointer-events: none;
}

.changelog:last-of-type::after {
  display: none;
}

.dark .changelog::after {
  border-bottom: 1px solid rgb(37, 41, 45);
}

.changelog-status {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  padding-top: 32px;
  margin-bottom: -65px;
  position: relative;
}

.changelog-status span {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: bold;
  color: #646464;
}

.dark .changelog-status span {
  color: #bbbbbb;
}

/* .not-prose.rounded-xl.mt-5.mb-8 > .group.z-10 > .absolute.top-11.rounded-lg {
  background-color: #3e4346;
} */
