html {
  scrollbar-gutter: stable;
}

:root {
  --accent-aa: 0, 136, 255;
  --accent-aaa: 0, 150, 255;
  --slate-a11y: #667085;
}

.prose {
  --tw-prose-code: #c93822;
}

#fern-header .fern-background {
  background: #f7f8f8;
}
.fern-sidebar-link-container[data-state="active"] .fern-sidebar-link {
  background-color: #e8f5ff;
  color: #0c5dbb;
}

.fern-sidebar-container
  > nav
  > .fern-sidebar-group:first-of-type
  .fern-sidebar-link
  > .fern-sidebar-link-text {
  font-weight: 600;
  color: #000000;
}
.fern-background {
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    radial-gradient(
      82.97% 110.59% at 54.03% 97.36%,
      rgba(255, 255, 255, 0) 0%,
      #fff 100%
    ),
    radial-gradient(
      52.79% 78.26% at 38.74% 71.48%,
      rgba(53, 165, 255, 0.3) 0%,
      rgba(53, 165, 255, 0) 86.92%
    ),
    radial-gradient(
      88.13% 69.33% at 67.53% 67.77%,
      rgba(140, 86, 254, 0.3) 0%,
      rgba(140, 86, 254, 0.1665) 100%,
      rgba(140, 86, 254, 0) 100%
    ),
    #f7fcff;
}

.fern-background::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    #f7f8f8 0%,
    rgba(244, 245, 245, 0) 46.59%
  );
  opacity: 1;
  pointer-events: none;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.fern-background::after {
  content: "";
  background: url("https://octo.ai/assets/images/noise.png");
  background-size: 143px 50px;
  opacity: 0.2;
  pointer-events: none;
  mix-blend-mode: overlay;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#docs-content::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #ffffff 0%, rgba(250, 250, 249, 0) 37.07%);
}

table {
  table-layout: fixed;
}

table td.p-3 {
  padding: 0.75rem 1rem;
  white-space: normal;
}
table td + td {
  border-left: 1px solid var(--border);
}

.changelog {
  padding-bottom: 12px;
  position: relative;
}

.changelog::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  bottom: -10px;
  left: 0;
  border-bottom: 1px solid rgb(208, 208, 208);
  pointer-events: none;
}

.changelog:last-of-type::after {
  display: none;
}

.dark .changelog::after {
  border-bottom: 1px solid rgb(37, 41, 45);
}

.changelog-status {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  padding-top: 32px;
  margin-bottom: -65px;
  position: relative;
}

.changelog-status span {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: bold;
  color: #646464;
}

.dark .changelog-status span {
  color: #bbbbbb;
}
.data-\[state\=inactive\]\:t-muted[data-state="inactive"],
.t-muted {
  color: #667085;
}

.prose-p\:t-muted
  :is(:where(p):not(:where([class~="not-prose"], [class~="not-prose"] *))) {
  color: #475467;
}
