paths:
  # Hide healthcheck
  /health:
    get:
      x-fern-ignore: true
  /v1/tune:
    post:
      x-fern-sdk-method-name: create
      servers:
      - url: https://api.octoai.cloud
        x-name: Default
  /v1/tune/{tune_id}:
    get:
      x-fern-sdk-method-name: get
      servers:
      - url: https://api.octoai.cloud
        x-name: Default
    delete:
      x-fern-sdk-method-name: delete
      servers:
      - url: https://api.octoai.cloud
        x-name: Default
  /v1/tune/{tune_id}/cancel:
    post:
      x-fern-sdk-method-name: cancel
      servers:
      - url: https://api.octoai.cloud
        x-name: Default
  /v1/tunes:
    get:
      x-fern-sdk-method-name: list
      servers:
      - url: https://api.octoai.cloud
        x-name: Default
components:
  schemas:
    LoraTune-Input:
      x-fern-type-name: LoraTune
    LoraTune-Output:
      x-fern-type-name: LoraTune
    Tune:
      x-fern-type-name: Tune
      properties:
        details:
          x-fern-type-name: TuneDetails